<main class="mt-0 ">



    <!-- Page Content Goes Here -->
    <div class="container position-relative z-index-20 py-7">


        <!-- Company Summary-->
        <div class="col-12 col-md-8 col-lg-6 mx-auto text-center py-4 border-bottom mb-5">
            <div class="my-5 d-none d-md-flex align-items-start justify-content-between">
                <div>
                    <img class="imagen-logo" src="../../../assets/img/git-icon.svg" alt="">
                </div>
                <div>
                    <img class="imagen-logo" src="../../../assets/img/github-icon-1.svg" alt="">
                </div>
            </div>
        </div>
        <!-- Company Summary-->

        <!-- Company Story-->
        <div class="py-6 row gx-8 align-items-center">
            <div class="col-12 col-lg-6">
                <p class="mb-3 small fw-bolder tracking-wider text-uppercase text-primary">Git & github</p>
                <h2 class="display-5 fw-bold mb-6">Control de versiones</h2>
                <p class="textAling">
                    El control de versiones es un sistema que permite a los desarrolladores rastrear y administrar los
                    cambios en el código fuente de un proyecto a lo largo del tiempo, y mantener un historial de
                    versiones para facilitar la colaboración y el trabajo en equipo. Con el control de versiones, los
                    desarrolladores pueden revertir a versiones anteriores del código, comparar cambios, fusionar
                    contribuciones y resolver conflictos de manera efectiva.
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <picture>
                    <img class="img-fluid rounded shadow-sm" src="../../../assets/img/code.jpg"
                        alt="HTML Bootstrap Template by Pixel Rocket">
                </picture>
            </div>
        </div>

    </div>

    <!-- /Page Content -->
</main>