<main class="mt-0 ">
    <!-- Page Content Goes Here -->

    <!-- Hero Content-->
    <div class="container pt-4 pt-md-6 pt-lg-8 pb-8 pb-lg-10 position-relative">
        <div class="row gx-10 align-items-center">

            <!-- Hero Text-->
            <div class="col-12 col-lg-6 position-relative z-index-20 text-center text-lg-start aos-init aos-animate"
                data-aos="fade-in">
                <h1 class="display-3 fw-bold mb-4">Federados LKDV</h1>
                <h2 class="fs-5 text-muted fw-light lh-base">Estamos aquí para ayudarte a optimizar tus procesos y
                    aumentar la eficiencia del equipo.</h2>


                <ul
                    class="list-unstyled d-none d-md-flex align-items-center small text-muted mt-3 pt-1 fw-medium fs-9 justify-content-center justify-content-lg-start">
                    <li class="me-4 d-flex align-items-center"><i
                            class="ri-checkbox-circle-fill text-success ri-lg me-1"></i> eficiencia
                    </li>
                    <li class="me-4 d-flex align-items-center"><i
                            class="ri-checkbox-circle-fill text-success ri-lg me-1"></i>seguridad</li>
                    <li class="me-4 d-flex align-items-center"><i
                            class="ri-checkbox-circle-fill text-success ri-lg me-1"></i>compromiso</li>
                </ul>
            </div>
            <!-- / Hero Text-->

            <!-- Hero Graphic-->
            <div class="col-12 col-lg-6 mt-5 mt-lg-0 align-self-stretch position-relative z-index-20 aos-init aos-animate"
                data-aos="fade-in">
                <div class="d-flex h-100 bg-dark-1 rounded-3 shadow-lg card">
                    <div class="card-header border-white-10 border-1 py-4 d-flex align-items-center">
                        <span class="f-w-2 f-h-2 block bg-danger rounded-circle me-2"></span>
                        <span class="f-w-2 f-h-2 block bg-warning rounded-circle me-2"></span>
                        <span class="f-w-2 f-h-2 block bg-info rounded-circle"></span>
                    </div>
                    <div class="card-body" style="min-height: 280px;">
                        <div class="card-body" style="min-height: 280px;">
                            <code>$git init </code>
                            <pre>inicializa un nuevo repositorio Git en el directorio actual.</pre>
                            <code>$git add </code>
                            <pre>agrega archivos al área de preparación para el commit.</pre>
                            <code>$git commit </code>
                            <pre>registra los cambios en el repositorio local.</pre>
                            <code>$git push </code>
                            <pre>envía los cambios locales al repositorio remoto.</pre>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Hero Graphic-->

        </div>

    </div>
    <!-- /hero Content-->

    <!-- Logo Showcase-->
    <div class="bg-primary py-8 aos-init aos-animate" data-aos="fade-in">
        <p class="mb-0 text-center small fw-bolder tracking-wider text-uppercase text-white opacity-75">
            Los datos son la clave para el éxito.
        </p>
    </div>
    <!-- Logo Showcase-->

    <!-- Integrations-->
    <div class="bg-dark py-8 aos-init aos-animate" data-aos="fade-in">
        <div class="container py-4">
            <h3 class="mb-0 text-center  fw-bolder tracking-wider text-uppercase text-orange">Tecnologias</h3>

            <div class="row gx-10 gy-7 mt-4">
                <!-- Integration-->
                <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center aos-init aos-animate"
                    data-aos="fade-in" data-aos-duration="500" data-aos-delay="000">
                    <picture class="d-block f-h-10">
                        <img class="h-100 w-auto" src="assets/img/angular-icon-1.svg" alt="">
                    </picture>
                    <p class="text-white fs-4 fw-medium mb-2 mt-3">Angular</p>
                    <p class="text-white opacity-75 text-center fs-7">SAngular es un framework de desarrollo </p>
                </div>
                <!-- /Integration-->
                <!-- Integration-->
                <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center aos-init aos-animate"
                    data-aos="fade-in" data-aos-duration="500" data-aos-delay="100">
                    <picture class="d-block f-h-10">
                        <img class="h-100 w-auto" src="assets/img/git-icon.svg" alt="">
                    </picture>
                    <p class="text-white fs-4 fw-medium mb-2 mt-3">Git</p>
                    <p class="text-white opacity-75 text-center fs-7">Git es un sistema de control de versiones</p>
                </div>
                <!-- /Integration-->
                <!-- Integration-->
                <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center aos-init aos-animate"
                    data-aos="fade-in" data-aos-duration="500" data-aos-delay="200">
                    <picture class="d-block f-h-10">
                        <img class="h-100 w-auto" src="assets/img/github-icon-1.svg" alt="">
                    </picture>
                    <p class="text-white fs-4 fw-medium mb-2 mt-3">Gthub</p>
                    <p class="text-white opacity-75 text-center fs-7">GitHub alojamiento de código
                        fuente</p>
                </div>
                <!-- Integration-->
                <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center aos-init aos-animate"
                    data-aos="fade-in" data-aos-duration="500" data-aos-delay="100">
                    <picture class="d-block f-h-10">
                        <img class="h-100 w-auto" src="assets/img/sonarqube.svg" alt="">
                    </picture>
                    <p class="text-white fs-4 fw-medium mb-2 mt-3">Sonarqube</p>
                    <p class="text-white opacity-75 text-center fs-7">SonarQube es una plataforma de análisis estático
                    </p>
                </div>
                <!-- /Integration-->
                <!-- Integration-->
                <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center aos-init aos-animate"
                    data-aos="fade-in" data-aos-duration="500" data-aos-delay="100">
                    <picture class="d-block f-h-10">
                        <img class="h-100 w-auto" src="assets/img/bash-1.svg" alt="">
                    </picture>
                    <p class="text-white fs-4 fw-medium mb-2 mt-3">Bash</p>
                    <p class="text-white opacity-75 text-center fs-7">Bash script es un lenguaje de programación de
                        shell</p>
                </div>
                <!-- /Integration-->
                <!-- Integration-->
                <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center aos-init aos-animate"
                    data-aos="fade-in" data-aos-duration="500" data-aos-delay="100">
                    <picture class="d-block f-h-10">
                        <img class="h-100 w-auto" src="assets/img/jenkins.svg" alt="">
                    </picture>
                    <p class="text-white fs-4 fw-medium mb-2 mt-3">Jenkins</p>
                    <p class="text-white opacity-75 text-center fs-7">Jenkins es una herramienta de automatización de
                        código abierto</p>
                </div>
                <!-- /Integration-->

            </div>


        </div>
    </div>
    <!-- / Integrations-->

</main>