<main class="mt-0 ">

    <!-- Customer Reviews-->
    <div class="pb-10">
        <div class="container">
            <p class="mb-3 small fw-bolder tracking-wider text-uppercase text-primary text-center">Nuestro Equipo</p>
            <h4 class="fs-1 fw-bold mb-6 text-center col-12 col-sm-6 col-md-5 col-lg-6 col-xl-4 mx-auto">LKDV</h4>

        </div>
        <div class="mt-5">
            <section class="marquee marquee-hover-pause">
                <div class="marquee-body">
                    <div class="marquee-section animation-marquee-200 py-3">

                        <div
                            class="rounded shadow-sm border f-w-76 d-flex flex-wrap flex-column px-5 pb-5 pt-7 mx-4 text-wrap position-relative h-100">
                            <i class="ri-double-quotes-l position-absolute top-n1 start-2 ri-2x opacity-10"></i>
                            <p class="mb-2 fw-medium fs-6">DevOps | LKDV COE DATA</p>
                            <div class="d-flex align-items-center mt-2">
                                <picture>
                                    <img class="f-w-10 rounded-circle" src="assets/img/profile-small-2.jpeg" alt="">
                                </picture>
                                <span class="d-block text-muted fs-7 ms-3">Yorlin Quispe Ygnacio</span>
                            </div>
                            <div class="mt-4 f-w-20">
                                <picture>
                                    <img class="img-fluid d-table mx-auto" src="assets/img/ntt-data-logo.svg" alt="">
                                </picture>
                            </div>
                        </div>
                        <div
                            class="rounded shadow-sm border f-w-76 d-flex flex-wrap flex-column px-5 pb-5 pt-7 mx-4 text-wrap position-relative h-100">
                            <i class="ri-double-quotes-l position-absolute top-n1 start-2 ri-2x opacity-10"></i>
                            <p class="mb-2 fw-medium fs-6">DevOps | LKDV COE DATA</p>
                            <div class="d-flex align-items-center mt-2">
                                <picture>
                                    <img class="f-w-10 rounded-circle" src="assets/img/profile-small-2.jpeg" alt="">
                                </picture>
                                <span class="d-block text-muted fs-7 ms-3">Ricardo Pachas</span>
                            </div>
                            <div class="mt-4 f-w-20">
                                <picture>
                                    <img class="img-fluid d-table mx-auto" src="assets/img/ntt-data-logo.svg" alt="">
                                </picture>
                            </div>
                        </div>
                        <div
                            class="rounded shadow-sm border f-w-76 d-flex flex-wrap flex-column px-5 pb-5 pt-7 mx-4 text-wrap position-relative h-100">
                            <i class="ri-double-quotes-l position-absolute top-n1 start-2 ri-2x opacity-10"></i>
                            <p class="mb-2 fw-medium fs-6">DevOps | LKDV COE DATA</p>
                            <div class="d-flex align-items-center mt-2">
                                <picture>
                                    <img class="f-w-10 rounded-circle" src="assets/img/profile-small-2.jpeg" alt="">
                                </picture>
                                <span class="d-block text-muted fs-7 ms-3">Vidal Cupe</span>
                            </div>
                            <div class="mt-4 f-w-20">
                                <picture>
                                    <img class="img-fluid d-table mx-auto" src="assets/img/ntt-data-logo.svg" alt="">
                                </picture>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Customer Reviews-->

    <!-- Latest Blog Posts-->
    <div class="bg-primary py-10">
        <div class="container">
            <div class="row g-5">
                <!--agregar video-->
                <video src="assets/img/animated_medium20210922-30429-v56486.mp4" autoplay class="video">
                    Tu navegador no soporta la etiqueta de video.
                </video>
            </div>

        </div>
    </div>

</main>