name: Chapter Academy - DevOps
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

on:
  pull_request:
    types:
     - closed
    branches:
      - master

jobs:
  build-and-Deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Slack Notification
        uses: act10ns/slack@v1
        with: 
          status: starting
          channel: '#devops-chapter'
          message: Comenzando ejecución...
        if: always()
      
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: false
           
      - name: sonarcloud scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.ANGULAR_GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      
      - name: Extraer información del entorno de Vercel
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
        
      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
        
      - name: Slack Notification
        uses: act10ns/slack@v1
        with: 
          status: ${{ job.status }}
          channel: '#devops-chapter'
          message: Se construyo bajo la rama {{ env.GITHUB_REF_NAME }} termino en ${{ job.status }}
        if: always()
      
